<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/asset/css/dashboard.css">
    <script src="/asset/js/dashboard.js"></script>
</head>
<body>
    <div class="contain">
        <section class="taskbar">
            <div class="logo-website">
                DASHBOARD
            </div>
            <div class="list-task">
                <div class="item-task"></div>
                <div class="item-task"></div>
                <div class="item-task"></div>
                <div class="item-task"></div>
            </div>
        </section>
        <section class="content">
            
        </section>
    </div>
    
</body>
</html>